* {
  margin: 0;
  padding: 0;

  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;

  box-sizing: border-box;
}

:root {
  --main-color: #ffeedf;
  --sec-color: #145434;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: var(--main-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 60px;
  font-size: 36px;
  color: var(--sec-color);
  font-weight: 700;

  background-color: var(--main-color);

  border-bottom: 1px solid var(--sec-color);

  padding: 20px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span.material-symbols-outlined {
  font-size: 36px;
}

.cards {
  max-width: 1200px;

  margin: 60px auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;

  padding: 40px;
}

.card {
  position: relative;

  background-color: var(--sec-color);
  color: var(--main-color);

  width: 100%;
  max-width: 400px; 

  min-height: 250px;

  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

span.number {
  width: 40px;
  height: 40px;

  position: absolute;
  top: -20px;
  left: -20px;

  font-size: 24px;

  background-color: var(--main-color);
  color: var(--sec-color);

  border: 2px solid var(--sec-color);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.card h2 {
  font-size: 36px;
  min-height: 100px;

  border-bottom: 1px solid var(--main-color);

  padding-bottom: 10px;
}

.card h3 {
  font-size: 18px;
}

.card p {
  font-size: 18px;
  font-weight: 700;
}

.card button {
  width: 200px;
  height: 50px;
  font-size: 14px;

  background-color: var(--main-color);
  color: var(--sec-color);

  position: absolute;

  bottom: -10px;
  right: -10px;

  border: 2px solid var(--sec-color);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card button span {
  position: absolute;

  right: 10px;
}

.card button:hover {
  cursor: pointer;
  
  background-color: var(--sec-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}